@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

$black: #263238;
$secondary: #E76316;
$primary: #5F1478;
$gray: #F6F4F6;
$line-color: #D4D4D4;
$danger: #DB2525;

@mixin screen-max($max) { 
    @media (max-width: $max) { 
      @content 
    } 
  };

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: $black;
}

body {
    background: $gray;
}

nav {
    width: 100vw;
    min-width: 300px;
    height: 64px;
    background-image: linear-gradient(272deg, #AE276F, #5F1478);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;

    img {
        margin-left: 24px;
    }
}

button {
    box-shadow: 0px 3px 6px #92207242;

    &:hover {
        cursor: pointer;
    }
}

.closed-modal {
    display: none;
}

.modal {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    min-width: 300px;
    height: 100%;
    background: rgba(246, 244, 246, 0.3);
    z-index: 2;
    display: flex;
}

.create-modal {
    height: 767px;
    width: 642px;
    max-width: 100vw;
    min-width: 300px;
    margin-left: auto;
    background: white;
    padding-left: 35px;
    display:flex;
    flex-direction: column;

    button {
        margin-top: 26px;
        width: 167px;
        max-width: 40%;
        height: 48px;
        border: none;
        border-radius: 8px;
        color: white;
        font-weight: 700;
        font-size: 18px;
    }

    input {
        width: 573px;
        max-width: 85vw;
        min-width: 280px;
        height: 60px;
        border: 1px solid #B9B9B9;
        border-radius: 8px;
        font-size: 18px;
        color: #757575;
        padding-left: 25px;
    }

    p {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 12px;
    }

    .create-buttons {
        display: flex;
        justify-content: space-between;
        width: 572px;
        max-width: 85vw;
        min-width: 280px;

        .create-button {
            background-color: $secondary;
            border: none;
        }

        .cancel-button {
            background-color: white;
            border: 1px solid $danger;
            color: $danger;
        }

    }
    

    .create-name {
        margin-top: 43px;
        margin-bottom: 50px;     
    }

    .create-image {
        margin-bottom: 52px;
    }

    .decorative-line-h {
        width: 572px;
        max-width: 85vw;
        min-width: 280px;
        height: 1px;
        background-color: $line-color;
    }

    .create-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 41px;

        h2 {
            font-size: 32px;
            color: $primary;
            margin-left: 18px;
        }
    }
}

.results-section {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-width: 300px;
    width: 1046px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .results-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        margin-top: 32px;
        align-items: flex-end;
    
        h1 {
            color: $primary;
            font-size: 32px;
            font-weight: 400;
        }
    
        button {
            background-color: $secondary;
            color: white;
            border: none;
            border-radius: 8px;
            width: 173px;
            height: 48px;
        }
    }
    
    .search-results {
        display: flex;
        gap: 36px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 187px;
        
    }

}



.search-background {
    background-image: url("../../public/img/fundo-busca.png");
    background-size: cover;
    background-position: center;
    height: 261px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .search-bar-div {
        max-width: 90%;
        position: relative;
        margin-bottom: 39px;
        display: flex;
        align-items: center;

        input {
            width: 1046px;
            max-width: 100%;
            min-width: 280px;
            height: 75px;
            border-radius: 8px;
            border: none;
            padding-left: 28px;
            font-weight: 300;
            font-size: 24px;
            @include screen-max(400px){font-size: 16px;}
        }
    
        button {
            position:absolute;
            background: none;
            border: none;
            width: 49px;
            height: 49px;
            right: 25px;
            box-shadow: none;

            img {
                width: 80%;
                
            }
        }
    }
}

.delete-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 438px;
    max-width:100vw;
    min-width: 300px;
    height: 434px;
    margin: auto;
    background-color: white;

    button {
        width: 165px;
        max-width: 40%;
        height: 48px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: $danger;
    }

    p {
        margin-top: 13px;
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 12px;
    }

    h2 {
        font-size: 32px;
        color: $danger;
        font-weight: 700;

    }

    .delete-buttons {
        display: flex;
        justify-content: space-around;
        width: 364px;
        max-width: 100%;
        margin-top: 22px;

        .cancel-button {
            border: 1px solid $danger;
            color: $danger;
            background-color: white;
        }
    }

    .decorative-line-h {
        width: 364px;
        max-width: 80%;
        background: #E4E4E4;
        height: 1px;
    }
    
    .delete-image-div {
        margin-top: 50px;
        margin-bottom: 25px;
        width: 159px;
        height: 159px;
        border: 6px solid #E4E4E4;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DB25250F;

        

        img {
            width: 68px;
            height: 68px;
            
        }
    }
}



.card {
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 234px;
    height: 267px;
    border: #E4E4E4 1px solid;
    box-shadow: 0 3px 6px #E5E5E5;
    flex-wrap: wrap;
    

    p {
        max-width: 70%;
        text-align: center;
    }

    .decorative-line-h {
        height: 1px;
        width: 169px;
        background-color: #F0EFF0;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .card-image-div {
        height: 95px;
        width: 95px;
        border: solid 1px #E4E4E4;
        border-radius: 100%;
        margin-top: 28px;
        

    }

    .card-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 3px 6px #0000000F;
        height: 43px;
        margin-top: auto;
        
        button {
            box-shadow: none;
        }
        
        .decorative-line-v {
            width: 1px;
            height: 22px;
            background-color: #F6F4F6;
            margin-left: 19px;
            margin-right: 19px;
        }

        .card-button {
            background: none;
            border: none;
            color: #979DA0;
            font-size: 15px;
            display: flex;
            align-items: center;

            
        }

        .edit {
            img {
                margin-right: 10px;
            }
        }

        .delete {
            img {
                margin-right: 12px;
            }
        }
    }

    
}